
.main-container {
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
}

hr {
    border: 0.1em solid black;
    margin-top: 0px;
}

ul {
    padding-left: 0.2em;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 40px;
}

li {
    font-size: 0.8em;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

p {
  font-size: 0.8em;
}

h2 {
margin-bottom: 0px;
font-size: 1.1em;
}

h3 {
    display: inline;
    font-size: 1em;
    margin: 0;
}

h4 {
    display: inline;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
}

h5 {
    display: inline;
    float: right;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    margin-top: 3px;
}
